{% extends 'base.html.twig' %}

{% block body %}
    <h2>creation d'une series</h2>
{% endblock %}

{% block title %}
    create series | {{ parent() }}
    todo: afficher le titre de la series
{% endblock %}



