{% extends 'base.html.twig' %}

{% block body %}
<h2>Afficher toutes les infos de la series</h2>
{% endblock %}

{% block title %}
    details series | {{ parent() }}
todo: afficher le titre de la series
{% endblock %}

